{% extends 'blog/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Test Blog</title>
</head>
<body>
    {% block content %}
        <div class="post">
            <block>
            <h1 style="display: inline-block;">{{ post.title }}</h1>
            <h5 style="display: inline-block;">
            <span style="display: inline-block; width: 80px;"></span>
            {% if post.published_date %}

                {{ post.published_date }}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            {% else %}
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            {% endif %}
            </h5>
            </block>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endblock %}
</body>
</html>