<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Test Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Test Blog</a>></h1>
    </div>

    <div>
        <p>published: 02/01/2017, 17:09</p>
        <h2><a href="">My first post</a></h2>
        <p>Este es mi primer post y es una prueba, probando probando, 1, 2, 3, funciona?.</p>
    </div>

    <div>
         <p>published: 02/01/2017, 17:11</p>
        <h2><a href="">My second post</a></h2>
        <p>Este es el segundo post, para seguir probando si anda, ya que en el primero no me respondieron, malitos.</p>
    </div>
</body>
</html>